html {
  box-sizing: border-box;
}

* { 
  box-sizing: inherit;
  margin: 0px;
}

header {
   background-color: #2C4944;
}

h1 {
  font-family: "Rokkitt", serif;
  font-size: 28px;
  margin-left: 18px;
  margin-right: 18px;
  color: gray;
}

h2 {
  font-family: Arial, serif;
  font-size: 14px;
  text-align: center;
  color:#648b43;
  font-weight: bolder;
}

h3 {
  font-family: 'Rokkitt', serif;
  font-size: 21px;
  color: white;
  margin: 12px;
  line-height:160%;
  text-align:center;
}

h4 {
  font-family: Arial, serif;
  font-size: 10px;
  text=align: center;
  color: white;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 7px;
  line-height: 170%;
}

p {
  font-family: 'Rokkitt', serif;
  margin-right: 23px;
  margin-left: 23px;
  line-height: 160%;
}

hr {
  margin-top: 90px;
  margin-bottom: 35px;
  color:gray;
}

ul {
  list-style-image: url("assets/plus.png");
  color: #603812;
  font-family: 'Rokkitt', serif;
  font-size: 16px;
  display: inline-block;
  padding-left: 45px;
  margin-right: 20px;
  line-height: 200%;
}

#header {
  width: 210px;
  margin-left: 3px;
}

#menu {
  position: absolute;
  top: 3px;
}

#firstpage {
  height: 475px;
}

#trees {
  position: absolute;
  width: 900px;
  margin-left: -450px;
  margin-right: -450px;
  display: block;
  left: 50%;
  right: 50%;
  overflow: auto;
  z-index: 2;
}

#lake {
  width: 900px;
  position: absolute;
  margin-right: -450px;
  margin-left: -450px;
  right: 50%;
  left: 50%;
  overflow: auto;
  display: block;
  z-index: 1
}

#mountains {
  width: 900px;
  position: absolute;
  margin-right: -450px;
  margin-left: -450px;
  right: 50%;
  left: 50%;
  overflow: auto;
  display: block;
  z-index: 0
}

#hero {
  position: relative;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  top: 40px;
  z-index: 3;
}

#date {
  position: relative;
  z-index: 3;
  width: 150px;
  top: 110px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}